{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Home Page</h1>
    <h2>Summary of Emotions Over Time in Dataset</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus fuga optio reiciendis sequi totam, ea quia ut facere earum ex, dolor minus sint, reprehenderit impedit? Vel sint aliquid deserunt et!</p>

</div>

<div class="container">
    <div class="row">
      <div class="col-sm" id="left">

      </div>
      <div class="col-sm" id="middle">

      </div>
      <div class="col-sm" id="right">
        <h2>The most upvoted review is: </h2>
        <p>{{ max_upvoted_review }}</p>
      </div>
    </div>
  </div>



{% endblock %}
