{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Home Page</h1>
    <h2>Summary of Emotions Over Time in Dataset</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus fuga optio reiciendis sequi totam, ea quia ut facere earum ex, dolor minus sint, reprehenderit impedit? Vel sint aliquid deserunt et!</p>

</div>

<div class="container">
    <div class="row">
      <div class="col-sm" id="left">
        LEFT TITLE
      </div>
      <div class="col-sm" id="middle">
        MIDDLE TITLE
      </div>
      <div class="col-sm" id="right">
        RIGHT TITLE
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
      <div class="col-sm" id="left">
        Left of three columns
      </div>
      <div class="col-sm" id="middle">
        Middle of three columns
      </div>
      <div class="col-sm" id="right">
        Right of three columns
      </div>
    </div>
  </div>



{% endblock %}
